importFrom("stats", "qnorm", "rbinom", "rmultinom", "runif")
importFrom("mvtnorm", "qmvnorm", "pmvnorm")
importFrom("clinfun", "ph2simon")
importFrom("ph2mult", "binom.power")
export(get_oc_2arm_binary)
export(get_oc_3arm_binary)
export(optimal_2arm_binary)
export(optimal_3arm_binary)
export(sample_size_2arm_binary)
export(sample_size_3arm_binary)
